[Unit]
Description=Eva Paint Robot service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/eva-paint-plant/main.py --headerless

[Install]
WantedBy=multi-user.target