[Unit]
Description=Eva Paint Robot service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/python3.9 /home/pi/eva-paint-robot/main.py --headerless

[Install]
WantedBy=multi-user.target